body {
    font: 14px/20px "Helvetica Neue", Arial, sans-serif;
    margin: 50px;
}
@media (max-width: 564px) {
    body {
        margin: 25px;
    }
}
h1 {
    font-family: georgia, times, serif;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
}
#container {
    max-width: 800px;
}
.epages-shop-overlay {
    color: #444;
}
.epages-shop-overlay h1,
.epages-shop-overlay h2,
.epages-shop-overlay h3 {
    color: #333;
}
.epages-shop-overlay h3 {
    margin: 0;
}
.epages-shop-overlay-box {
    float: left;
    max-width: 490px;
}
.epages-shop-overlay-box-1 {
    display: inline-block;
}
.epages-shop-overlay-product-image {
    transition: 0.6s;
    max-width: 490px;
    width: 100%;
}
.epages-shop-overlay-slideshow {
    list-style-type: none;
    padding: 0;
}
.slideshow-image {
    display: inline-block;
    margin: 5px 10px;
    border: 1px solid #ccc;
}
.slideshow-image img {
    height: 44px;
    margin: 3px;
}
.epages-shop-overlay-product-availability-OnStock {
    color: green;
}
.epages-shop-overlay-product-availability-WarnStock {
    color: orange;
}
.epages-shop-overlay-product-availability-OutStock {
    color: red;
}
.epages-shop-overlay-product-price {
    float: left;
    font-size: 135%;
    font-weight: bold;
    margin-right: 0.5em;
}
.epages-shop-variation label {
    min-width: 50px;
    display: inline-block;
}
.epages-shop-taxes,
.epages-shop-overlay-product-shipping {
    font-size: 80%;
    clear: both;
}
.epages-shop-overlay-buy-button {
    width: 100%;
}
.epages-shop-overlay-buy-button[disabled=disabled],
.epages-shop-overlay-buy-button:disabled {
    color: #ddd;
}
.epages-shop-overlay-table th,
.epages-shop-overlay-table td {
    vertical-align: baseline;
    padding: 2px;
    text-align: left;
}
.epages-shop-overlay-hr {
    border-width: 1px 0 0 0;
    border-color: #ccc;
    border-style: solid;
    margin: 1em 0;
}
.epages-shop-overlay p {
    margin-top: 3px;
}
.epages-shop-overlay-custom-attributes-table th {
    text-align: left;
    vertical-align: top;
}
.epages-shop-overlay-custom-attributes-table td {
    padding: 0px 1em;
}
.epages-shop-overlay-custom-attributes-table td ul {
    margin: 0px;
    padding-left: 1em;
}
.epages-shop-product-price {
    font-weight: bold;
}
.epages-shop-product-manufacturer-price div {
    display: inline-block;
    font-size: 12px;
}
.epages-shop-product-manufacturer-price .price {
    text-decoration: line-through;
}
.epages-shop-product-base-price {
    color: #aaa;
    font-weight: lighter;
    font-size: 12px;
}
.epages-cart-overlay {
    color: #444;
}
.epages-cart-overlay h2 {
    color: #333;
}
.epages-cart-overlay-fail {
    background-color: #e00;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.epages-cart-overlay table {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    width: 100%;
    border-collapse: collapse;
}
.epages-cart-overlay table th {
    text-align: left;
    padding: 20px 10px 5px;
}
.epages-cart-overlay table tr {
    border-bottom: 1px solid #ddd;
}
.epages-cart-overlay table td {
    padding: 10px;
}
.epages-cart-overlay table tfoot td {
    padding: 10px 10px 20px;
}
.epages-cart-overlay-product-price-desc {
    font-weight: bold;
    font-size: 120%;
}
.epages-cart-overlay-product-price {
    vertical-align: top;
}
.epages-cart-overlay-product-shipping {
    font-size: 80%;
}
.epages-cart-overlay-secure:before {
    content: "\f023";
    font-family: FontAwesome;
    border: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #141414;
    font-size: 22px;
    padding-right: 0.5em;
    left: 0;
}

.epages-cart-overlay-line-item-quantity {
    margin-right: 5px;
    padding: 3px;
    margin: 0;
    max-width: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: grey;
    background: #fff;
    color: #575757;
    border-width: 1px;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .epages-cart-overlay-line-item-quantity {
        padding-right: 18px
    }
}

.epages-cart-overlay-line-item-quantity {
    position: relative
}

.epages-cart-overlay-line-item-remove {
    position: relative;
    text-align: center;
    border: none;
    background: none;
}

.epages-cart-overlay-line-item-remove:before {
    content: "\f1f8";
    font-family: FontAwesome;
    border: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 22px;
    padding-right: 0.5em;
    left: 0;

}
.epages-cart-overlay-line-item-remove:disabled {
    cursor: auto;
}
.shop-pagination li {
    display: inline;
    color: #fff;
}

.shop-pagination > li:first-child > a, .shop-pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.shop-pagination > li:last-child > a, .shop-pagination > li:last-child > span {
    margin-right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.shop-pagination > li > a, .shop-pagination > li > span {
    padding: 6px 12px;
    margin-left: -5px;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dedede;
}

.shop-pagination > li.active > a {
    background-color: #337ab7;
    color: #fff;
}
.epages-shop-product-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.epages-shop-product-link:hover {
    text-decoration: underline;
}
.epages-shop-widget .epages-shop-product-price {
    font-weight: bold;
}
#epages-shop-widget-loading {
    background-image: url(/images/spinner.gif);
    background-color: white;
    border-radius: 6px;
    display: none;
    height: 32px;
    left: 50%;
    position: fixed;
    top: 50px;
    width: 32px;
    z-index: 10002;
}
.epages-shop-widget label {
    font-size: 80%;
}

.earch-cart-line {
    display: inline-block;
}
.epages-shop-search-form {
    max-width: 350px;
    float: left;
}

.epages-shop-navigation {
    margin-bottom: 50px;
    margin-top: 10px;
}
.epages-shop-navigation {
    clear: both;
}
.epages-shop-navigation > div {
    float: left;
    margin-right: 1em;
}

.search-cart-line {
    margin-top: 10px;
}

.epages-shop-product-list {
    clear: both;
}
.epages-shop-pagination {
    clear: both;
    text-align: center;
}
.epages-shop-cart {
    float: right;
    margin: 0 auto;
}

.epages-cart-button {
    background-color: white;
    float: right;
    cursor: pointer;
    border: 0;
    outline: none;
}
.epages-cart-button span {
    font-size: 16px;
    padding-left: 5px;
}

.epages-cart-overlay, .epages-shop-overlay {
    padding: 10px 15px 50px;
}

.epages-cart-overlay-line-table th .epages-cart-overlay-price {
    text-align: right;
}
.epages-cart-overlay-line-table .epages-cart-overlay-image {
    width: 10%;
}
.epages-cart-overlay-line-table .epages-cart-overlay-image img {
    width: 100%;
}
.epages-cart-overlay-line-table .epages-cart-overlay-name {
    width: auto;
}
.epages-cart-overlay-line-table .epages-cart-overlay-price {
    width: 10%;
    min-width: 65px;
    text-align: right;
}
.epages-cart-overlay-line-table .epages-cart-overlay-quantity {
    width: 20%;
    min-width: 125px;
}
.epages-cart-overlay-line-table .epages-cart-overlay-total {
    width: 12%;
    min-width: 65px;
    text-align: right;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove,
.epages-cart-overlay-line-table .epages-cart-overlay-remove button {
    width: 25px;
    padding: 0;
}
.epages-cart-overlay-line-item-remove::before {
    padding-right: 0;
}
.epages-cart-overlay-line-table .epages-cart-overlay-remove span {
    display: none;
}
.epages-cart-overlay-line-table .epages-cart-overlay-subhead-narrow {
    display: none;
}
.epages-cart-overlay-line-table tfoot td {
    text-align: right;
    width: 75%;
}
.epages-cart-overlay-line-table tfoot td.epages-cart-overlay-delivery-price,
.epages-cart-overlay-line-table tfoot td.epages-cart-overlay-product-price {
    width: 25%;
    min-width: 80px;
}

.epages-cart-overlay .epages-row {
    margin: 0 !important;
    padding: 10px 0;
}

.epages-cart-overlay .epages-row div {
    padding: 0 !important;
}
.epages-cart-overlay-secure {
    width: 66.667%;
    padding: 10px 0;
}
.epages-cart-overlay-checkout-button {
    float: right;
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #eee;
    font-size: 16px;
    text-shadow: 1px 1px 0px #fff;
}

@media (max-width: 768px) {
    .epages-cart-overlay-line-table thead {
        display: none;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-subhead-narrow {
        display: block;
        line-height: 2;
        font-weight: bold;
    }
    .epages-cart-overlay-line-table td {
        padding: 20px 0 15px 0px !important;
        float: left;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-image {
        width: 20%;
        float: right;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-name {
        width: 80%;
        font-size: 16px;
        font-weight: bold;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-price {
        width: 33.333%;
        clear: both;
        border-top: 1px dashed #e3e0e0;
        text-align: left;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-quantity {
        width: 33.333%;
        text-align: center;
        border-top: 1px dashed #e3e0e0;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-total {
        width: 33.333%;
        text-align: right;
        border-top: 1px dashed #e3e0e0;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-remove {
        width: 100%;
        text-align: center !important;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-remove span {
        display: inline;
    }
    .epages-cart-overlay-line-table tfoot .epages-cart-overlay-remove {
        height: 0;
        padding: 0 !important;
        border-width: 0;
    }
}

@media (max-width: 480px) {
    .epages-cart-overlay-line-table thead {
        display: none;
    }
    .epages-cart-overlay-line-table td {
        padding: 20px 0 15px 0px !important;
        float: left;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-image {
        width: 30%;
        float: right;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-image img {
        min-width: 80px;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-name {
        width: 70%;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-price {
        width: 100%;
        border-top-width: 0;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-quantity {
        width: 100%;
        text-align: left;
        border-top-width: 0;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-quantity input {
        max-width: none;
        width: 98%;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-total {
        width: 100%;
        text-align: left;
        border-top-width: 0;
    }
    .epages-cart-overlay-line-table .epages-cart-overlay-remove {
        width: 100%;
        text-align: right !important;
    }
    .epages-cart-overlay table tfoot tr {
        background: #fefefe none repeat scroll 0 0;
        border-top: 1px solid #ebebeb;
    }
    .epages-cart-overlay-line-table tfoot td {
        float: right;
        text-align: left;
        padding: 0;
        border-width: 0 !important;
        width: 70%;
    }
    .epages-cart-overlay-line-table tfoot td.epages-cart-overlay-delivery-price,
    .epages-cart-overlay-line-table tfoot td.epages-cart-overlay-product-price {
        float: left;
        padding-right: 10px !important;
        width: 10%;
        min-width: 70px;
    }
    .epages-cart-overlay-secure {
        width: 100%;
    }
    .epages-cart-overlay-checkout-button {
        float: none;
        width: auto;
    }
}
.epages-shop-widget {
    margin-top: 20px;
    width: 100%;
}
.epages-row {
    margin: 0;
    width: 100%
}

/* List view: Product Container */
.epages-shop-widget .epages-shop-product {
    float: left;
    width: 100%;
    min-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

@media (min-width: 564px) and (max-width: 763px) {
    .epages-shop-widget .epages-shop-product {
        width: 50%;
    }
    .epages-shop-widget .epages-shop-product:nth-child(odd) {
        clear: both;
    }
}
@media (min-width: 764px) and (max-width: 963px) {
    .epages-shop-widget .epages-shop-product {
        width: 33%;
    }
    .epages-shop-widget .epages-shop-product:nth-child(3n+1) {
        clear: both;
    }
}
@media (min-width: 964px) {
    .epages-shop-widget .epages-shop-product {
        width: 25%;
    }
    .epages-shop-widget .epages-shop-product:nth-child(4n+1) {
        clear: both;
    }
}
/* List view: Fixed aspect ratio for responsive product image container unless only one column */
@media (min-width: 564px) {
    .epages-shop-product-link::before {
        content: "";
        display: block;
        margin-top: 105%;
    }
    .epages-shop-product-link {
        float: left;
        position: relative;
        width: 100%;
    }
    .epages-shop-product-list-image-container {
        position: absolute;
        top: 0;
    }
}
/* List view: Dynamic height for image container if only one column */
.epages-shop-product-list-image-container {
    height: auto;
    max-width: 100%;
    max-height: none;
}
/* List view: Product image */
.img-product-list {
    max-height: none;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}

/* Product detail overlay */
.epages-shop-overlay-box {
    padding: 0 2% 0 0;
    width: 58%;
    float: left;
}
.epages-shop-overlay-box-1, .epages-shop-overlay-box-2 {
    float: none;
    width: 40%;
    min-width: 200px;
    display: inline-block;
}
@media (max-width: 720px) {
    .epages-shop-overlay-box {
        width: 380px;
        float: none;
    }
    .epages-shop-overlay-box-1, .epages-shop-overlay-box-2 {
        width: 100%;
        float: none;
    }
}
@media (max-width: 450px) {
    .epages-shop-overlay-box {
        width: 98%;
    }
}
.epages-shop-overlay-manufacturer-price {
    font-style: italic;
    margin-bottom: 5px;
}